@import url('https://fonts.googleapis.com/css?family=Libre Baskerville');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Global */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header nav {
    margin: 20px 0 0 1300px;
    float: right;
    background-color: black;
    z-index: 10;
    position: fixed;
}

header .highlight, header .current a {
    color: darkslategrey;
    font-weight: bold;
}

header a:hover {
    font-weight: bold;
}

/* Hero */

#banner {
    min-height: 1000px;
    background: transparent no-repeat 0;
    background-size: cover;
    background-position: center;
    color: #F9F3F4;
    width: 100%;
}

#banner a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

#banner h1 {
    margin-top: 350px;
    font-family: 'Libre Baskerville', sans-serif;
    text-shadow: 0px 0px 300px #000;
    font-size: 70px;
    letter-spacing: 3px;
    opacity: 0.5;

}

#banner h2 {
    margin-top: -40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    opacity: 0.25;
    -webkit-animation: flicker 2s infinite;
}

@-webkit-keyframes flicker
{
    0% {opacity:0;}
    9% {opacity:0;}
    10% {opacity:.5;}
    13% {opacity:0;}
    20% {opacity:.5;}
    25% {opacity: .5;
        color: #F9F3F4;
        }
}

.btn_banner {
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    color: #F9F3F4;
    font-size: 100%;
    padding: 10px 10px;
    border: solid #F9F3F4 2px;
    text-decoration: none;
    margin-top: 175px;
    background: transparent;
}

.btn_banner:hover {
    border: solid #F9F3F4 3px;
    background: darkslategrey;
}

/* About */

#about {
    padding: 60px;
    background: transparent no-repeat 0;
}

#about h1 {
    font-family: "Libre Baskerville", sans-serif;
    float: left;
    font-weight: 600;
    font-size: 200%;
}

#about h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 150%;
    color:darkgrey;
}

#about img {
    height: 400px;
    margin-left: -250px;
}

/* Services */

#services {
    background-color: #101918;
    padding: 20px;
    min-height: 800px;
}

#services .col {
    float: none;
    width: 30%;
    padding: 20px;
    text-align: center;
    border-right: solid #5B5B5B 2px;
}

#services .col img {
    max-width: 200px;
    width: 75%;
}

#services h1 {
    font-size: 35px;
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 30px;
    font-family: "Libre Baskerville", sans-serif;
    color: #ffffff;
}

#services h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
}

#services p {
    font-family: sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
    margin-bottom: 40px;
}

/* Skills */

#skills {
    background-color: #101918;
    padding: 50px;
    min-height: 600px;
}

#skills .col {
    float: left;
    width: 10%;
    padding: 10px;
    min-width: 200px;
}

#skills h1 {
    font-family: "Libre Baskerville", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600px;
    color: #ffffff;
    letter-spacing: 3px;
    padding-bottom: 30px;
}

#skills img {
    padding: 10px;
    width: 100px;
    background-color: #615850;
}

/* Contact */

#contact {
    background: transparent no-repeat 0;
    background-size: cover;
    color: #ffffff;
    min-height: 800px;
    text-align: center;
}

#contact h3 {
    margin-top: 200px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    opacity: 0.75;
    letter-spacing: 3px;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    width: 50%;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
}

label {
    color: darkslategray;
    float: left;
    padding: 10px 5px 5px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    resize: vertical;
}

#email {
    margin-top: 10px;
}

input[type=submit] {
    background-color: darkslategray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

input[type=submit]:hover {
    background-color: #248382;
}

/* Footer */

footer {
    padding: 5px;
    color: #ffffff;
    text-align: center;
    background-color: black;
}

footer img {
    padding: 10px 20px 0px;
    width: 40px;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 5px;
  height: 9px;

}
::-webkit-scrollbar-button {
    width: 0px;
    height: 50px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
  background: darkslategrey;

}
::-webkit-scrollbar-thumb:hover {
  background: #959595;
}
::-webkit-scrollbar-thumb:active {
  background: #949494;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* Media Queries */

@media(max-width: 768px){
    #banner h1,
    #banner h2,
    #services .col{
        float: none;
        text-align:center;
        width: 100%;
    }

    #services .col img {
        width: 125px;
    }

    #banner h1 {
        font-size: 350%;
    }

    #banner h2 {
        padding-top: 0px;
        font-size: 25px;
    }

    .btn_banner {

    }

}
