@import url('https://fonts.googleapis.com/css?family=Libre Baskerville');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f4f4f4;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

/* Hero */
#hero {
    min-height: 1000px;
    background: url('../img/bg.png') no-repeat 0 -100px;
    background-size: cover;
    color: #F9F3F4;
    text-align: center;
    /*width: 100%;
    margin: auto;
    display: table;
    top: 0;
    background-size: cover;
    display: table-cell;
    vertical-align: middle;
    max-width: none;*/
}

#hero a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

#hero li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

#hero nav {
    margin-top: 20px;
    float: right;
}

#hero .highlight, #hero .current a {
    color: #FFD700;
    font-weight: bold;
}

#hero a:hover {
    color: #cccccc;
    font-weight: bold;
}

#hero h1 {
    margin-top: 350px;
    font-family: 'Libre Baskerville', sans-serif;
    text-shadow: 0px 0px 300px #000;
    font-size: 70px;
    letter-spacing: 3px;
    opacity: 0.5;
}

#hero h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    opacity: 0.25;
    margin-top: -40px;
}

.btn_hero {
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    color: #036A81;
    font-size: 100%;
    padding: 10px 10px;
    border: solid #036A81;
    text-decoration: none;
    margin-top: 300px;
}

.btn_hero:hover {
    color: #fff;
    border: solid #fff 3px;
}

#about {
    padding: 10px;
    background-color: #35424a;
}

#about h1 {
    font-family: "Libre Baskerville", sans-serif;
    float: left;
    font-weight: 600;
    font-size: 200%;
}

#about h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 150%;
    color:darkgrey;
    position: relative;
    top: 100px;
}

#about img {
    float: left;
    height: 400px;
    margin-left: -250px;
}

#services {
    background-color: #EEEEEE;
    padding: 10px;
}

#services .col {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#services .col img {
    width: 90px;
}

#services h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
}

#services p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0 50px;
    margin-bottom: 40px;
}

.footer {
    height: 100%;
    width: 100%;
    margin: auto;
    display: table;
    top: 0;
    background: url('/img/footer.png');
    background-size: cover;
}

.footer .col {
    float: left;
    width: 100;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    padding: 30px 0;
}

.footer p {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;

}

.social {
    height: 32px;
    width: 33%;
}



@media screen and (max-width: 768) {
    .content h1 {
        font-size: 250%;
    }
    .content h2 {
        font-size: 130%;
    }
    .btn {
        font-size: 110%;
        padding: 7px 15px;
    }
}
